/* general css rules */
* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.contaier {
    width: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 30px;
    background-color: blue;
}

.row {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    padding: 0px 30px;
    background-color: red;
}

.task{
    justify-content: space-between;
}

.add-task {
    justify-content: center;
}

/* icon style */

i {
    cursor: pointer;
    font-size: 25px;
}

.add-task [class*="fas"] {
    display: none;
}

.add-task i {
    margin: 20px;
}

.checkbox [class*="fas"] {
    display: none;
}

.delbox [class*="fas"] {
    display: none;
}
