/* general css rules */
* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

nav {
    background-color: teal;
}

.wrapper {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

main.wrapper {
    background-color: #48b5b5;
    height: calc(100vh - 80px);
}

.contaier {
    width: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px;
}

.logo {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.row {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 20px;
    padding: 0px 30px;
    background-color: #58dddd;
    color: white;
    box-shadow: 0px 0px 5px #dbdbdb;
}

.task{
    justify-content: space-between;
}

.task-title {
    color: gray;
}

.add-task {
    justify-content: center;
}

/* icon style */

i {
    cursor: pointer;
    font-size: 25px;
    color: white;
}

.add-task [class*="fas"] {
    display: none;
}

.add-task i {
    margin: 20px;
}

.checkbox [class*="fas"] {
    display: none;
}

.delbox [class*="fas"] {
    display: none;
}
